.titlefont
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    font-stretch: ultra-expanded;
    font-stretch: narrower;
    color: deeppink;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.bodyfont
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: black;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
} 

.bg
{
background-color: rgb(41, 41, 245);
content-visibility: full;
height: auto;
}

.img1
{
height: fit-content;
align-items: center;
}